@import '../../styles/mq';

.button {
  font-size: 16px;
  display: inline-block;
  padding: 16px 24px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  @include mq {
    &:hover {
      background-color: #fff;
      color: violet;
    }
  }
}